.card {
    width: 50vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: solid;
    border-radius: 10px;
    border-color: beige;
    width: 35rem;
}

.card:hover {
    cursor: pointer;
}

.card-title {
    color: beige;
}

.card-image {
    width: 200px;
    height: 240px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    object-fit: cover;
}