#app {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

#drinks,
#info {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50vw;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}