#app {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

#drinks,
#info {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50vw;
}

#separator {
    display: none;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 50vw;
    border-style: solid;
    border-color: beige;
}