#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
}

.no-info {
    margin-top: 20rem;
    font-size: 3rem;
    color: beige;
}

.info-image {
    border: solid;
    border-radius: 10px;
    border-color: beige;
    width: 35rem;
    height: auto;
}

.info-title {
    color: beige;
    text-align: start;
}

.subtitle {
    font-size: large;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border: solid;
    border-radius: 10px;
    border-color: beige;
    padding: 1rem;
    width: 35rem;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-ingredients {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.instructions-text {
    text-align: center;
    line-height: 2rem;
}

.recipe-item {
    color: beige;
}

.info-video {
    border: solid;
    border-radius: 10px;
    border-color: beige;
}

.no-video {
    color: beige;
    padding: 1rem;
    text-align: center;
    width: 35rem;
}